<div class="body" *ngIf="!name; else forminfo">
  <div class="container">
    <div class="login">
      <h1 class="m-3">Login</h1>
      <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form-group">
          <label>Username</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Enter Username">
          <div class="alert alert-danger" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert
            }}</div>
          <br>
          <label>Password</label>
          <input formControlName="description" type="text" class="form-control" placeholder="Password">
          <div class="alert alert-danger" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">enter
            betwen 30 and 500 characters</div>
          <br>
          <div class="form-group form-check">
            <label for="validate">Minimum of 10 Characters</label><br>
            <input type="checkbox" name="validate" formControlName="validate" value="1"> On
          </div>
          <input type="submit" class="btn btn-primary btn-block" [disabled]="!rForm.valid">
          <div class="signUp text-center">
            <p>OR</p>
            <h4><a href="/">SIGN UP</a></h4>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #forminfo>
  <div class="body">
    <div class="container">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>